In [1]:
import pandas as pd
import numpy as np
from utils import *

In [2]:
#pip install sentence-transformers

Load the datasets - Mentor/Mentee/Circle

In [3]:
Mentee_df = pd.read_excel('../data/Mentee-obfuscated-dataset.xlsx', engine='openpyxl')

In [4]:
Mentee_df.columns

Index(['Mentee_ID', 'Mentee_First_Name', 'Mentee_Last_Name', 'Mentee_Email',
       'Mentee_Title', 'Mentee_GradeLevel', 'Mentee_Organization',
       'Mentee_Department', 'Mentee_BusinessUnit', 'Mentee_TimeZone',
       'Mentee_Circle', 'Mentee_Goal', 'Mentee_CLL', 'Mentee_Interest',
       'Mentee_Eligibility', 'Mentee_wiads_past', 'Mentee_wiads'],
      dtype='object')

In [5]:
Mentee_df.head()

,Mentee_ID,Mentee_First_Name,Mentee_Last_Name,Mentee_Email,Mentee_Title,Mentee_GradeLevel,Mentee_Organization,Mentee_Department,Mentee_BusinessUnit,Mentee_TimeZone,Mentee_Circle,Mentee_Goal,Mentee_CLL,Mentee_Interest,Mentee_Eligibility,Mentee_wiads_past,Mentee_wiads
0,3,First_3,Last_3,First_3.Last_3@uhc.com,JobTitle_3,27,UHC,Payment Integrity Special Investigations Unit,LCRA,Central Standard Time (CST),Mid Career (grades 28-30),I am really interested in analytics. I feel li...,Collaborating;Growth Mindset;Using Time and Re...,Career in Data Analytics;Data Analytics Skill ...,Yes,No,No
1,4,First_4,Last_4,First_4.Last_4@uhc.com,JobTitle_4,27,UHC,Ancillary,E&I,Eastern Standard TIme (EST),Early Career (grades 27 and under),Expand my network and continued growth in my c...,Growth Mindset;Taking Initiative and Risks;Inf...,Networking;Career in Data Analytics;Data Analy...,Yes,No,Yes
2,5,First_5,Last_5,First_5.Last_5@uhc.com,JobTitle_5,28,UHC,HCE trend management,E&I,Pacific Standard Time (PST),Mid Career (grades 28-30),"Motivation, support and career growth. How to ...",Self-Management;Growth Mindset;Taking Initiati...,Learn Story Telling;Develop Leadership Skills;...,Yes,Yes,Yes
3,6,First_5,Lst_5,First_5.Last_5@uhc.com,JobTitle_5,27,Optum Care Delivery-700,Care Delivery-Region 6-297,ProHealth Physicians,Eastern Standard TIme (EST),Early Career (grades 27 and under),I am currently,Using Time and Resources Effectively;Self-Mana...,Develop Leadership Skills;Networking;Business ...,Yes,No,No
4,7,First_6,Last_6,First_6.Last_6@uhc.com,JobTitle_6,27,UHC,Provider Operations,Payment Integrity/ ACE,Eastern Standard TIme (EST),Early Career (grades 27 and under),"Career Focus on the next steps, building up a ...",Self-Management;Using Time and Resources Effec...,Develop Leadership Skills;Communication Skills...,Yes,No,Yes

In [6]:
Mentor_df = pd.read_excel('../data/Mentor-obfuscated-dataset.xlsx', engine='openpyxl')

In [7]:
Mentor_df.columns

Index(['Mentor_ID', 'Mentor_FirstName', 'Mentor_LastName', 'Mentor_Email',
       'Mentor_JobTitle ', 'Mentor_GradeLevel', 'Mentor_Organization',
       'Mentor_Department', 'Mentor_BusinessUnit', 'Mentor_TimeZone',
       'Unnamed: 10', 'Mentor_Circle', 'Mentor_Goal', 'Mentor_Interest',
       'Mentor_CLL', 'Mentor_Interestcount', 'Mentor_Eligibility',
       'Mentor_wiads_past ', 'Mentor_mentor_past'],
      dtype='object')

In [8]:
Mentor_df.head(2)

,Mentor_ID,Mentor_FirstName,Mentor_LastName,Mentor_Email,Mentor_JobTitle,Mentor_GradeLevel,Mentor_Organization,Mentor_Department,Mentor_BusinessUnit,Mentor_TimeZone,Unnamed: 10,Mentor_Circle,Mentor_Goal,Mentor_Interest,Mentor_CLL,Mentor_Interestcount,Mentor_Eligibility,Mentor_wiads_past,Mentor_mentor_past
0,1,First_1,Last_1,First_1.Last_1@corpitsvcs.com,JobTitle_1,27,UHC,Specialty benefits,dental,Eastern Standard Time (EST),NaN,Mid Career (mentees are grades 28-30),Depth of analytics experience from multiple pu...,Business Acumen ;Data Science Skill Developmen...,Collaborating;Taking Initiative and Risks;Deve...,141,Maybe,No,No
1,2,First_2,Last_2,First_2.Last_2@uhc.com,JobTitle_2,29,UHG Corporate,Medical Affairs,Clinical Modernization & Transformation,Central Standard Time (CST),NaN,Early Career (mentees are grades 27 and under),I've been in several analytical roles across m...,Networking;Career in Data Analytics;Communicat...,Self-Management;Collaborating;Developing Other...,362,Yes,No,Yes

In [12]:
Circle_df = pd.read_excel('../data/eval/zps/finalOutput.xlsx', engine='openpyxl')

In [13]:
Circle_df = Circle_df.reset_index()
Circle_df.head(2)

,index,Unnamed: 0,ID,Start time,Completion time,Email,Name,First Name,Last Name,Email Address,...,Career Change,Business Acumen,Data Science Skill Development Resources,Leadership Skills Development,Communication Skills,Public Speaking,Story Telling,Personal Branding,What Will You Contribute to Your Circle?_y,menteesQualify
0,0,0,2,2022-09-08 21:07:53,2022-09-08 21:20:46,First_2.Last_2@uhc.com,"Last_2,First_2",First_2,Last_2,First_2.Last_2@uhc.com,...,0,0,0,0,1,0,0,0,I've been in several analytical roles across m...,"[3, 4, 5, 6, 7, 8, 9]"
1,1,1,3,2022-09-14 17:04:04,2022-09-14 17:12:41,First_3.Last_3@optum.com,"Last_3,First_3",First_3,Last_3,First_3.Last_3@optum.com,...,0,0,0,1,0,0,0,0,I can help mentees develop a better understand...,"[10, 11, 12, 13, 14, 15, 16]"

Select only 3 columns

In [14]:
Circle_subset_df = Circle_df[['index','ID','menteesQualify']].loc[0:14,:]
Circle_subset_df.head(2)

   index  ID                menteesQualify
0      0   2         [3, 4, 5, 6, 7, 8, 9]
1      1   3  [10, 11, 12, 13, 14, 15, 16]

https://stackoverflow.com/questions/53218931/how-to-unnest-explode-a-column-in-a-pandas-dataframe-into-multiple-rows
https://towardsdatascience.com/how-to-quickly-create-and-unpack-lists-with-pandas-d0e78e487c75

In [ ]:
#The menteesQualify is a string represenation of list, convert to an actual list
Circle_subset_df['MenteesList'] = Circle_subset_df.menteesQualify.apply(strToList)
Circle_subset_df.drop('menteesQualify', axis=1, inplace=True)
Circle_subset_df.head(2)

In [ ]:
Circle_basic_df = Circle_subset_df.explode('MenteesList')
Circle_basic_df = Circle_basic_df.rename({'index': 'Circle', 'ID': 'Mentor_ID', 'MenteesList':'Mentee_ID'}, axis=1)
subset = Circle_basic_df[Circle_basic_df["Mentee_ID"]==3]
subset

In [ ]:
Circle_basic_df = Circle_basic_df.rename({'index':'Circle','Mentor ID': 'Mentor_ID', 'Mentee ID': 'Mentee_ID'}, axis=1)
Circle_basic_df.head()

In [ ]:
n_mentee = Mentee_df.Mentee_Email.nunique()
n_mentee_count = Mentee_df.Mentee_Email.count()
print("No.of.unique values ",n_mentee, n_mentee_count)

In [ ]:
Cicle_basic_sorted_df = Circle_basic_df.sort_values(by=['Circle','Mentor_ID','Mentee_ID'], inplace=False, ignore_index= True)
Cicle_basic_sorted_df.head()

In [ ]:
subset = Cicle_basic_sorted_df[Cicle_basic_sorted_df["Mentee_ID"]==3]
subset

For each circle row, get the mentor and mentee information and create a detail dataframe

• Organization/Department - Mentor and Mentee should not be in same Department. 
• Time Zones – Fit circles into similar time zones. Find difference of timezone between mentor and mentee
• Grade Levels/Mentor Circle Levels – Anyone Grade level less than 28 should not be considered a mentor.
• CLL Sort – Mentors strengths match the Mentees growth areas.
• Areas of interest – Maximum match on areas of interest within a circle.
• Circle size –The number of mentees a mentor has. The circles should be close in size.
• Mentor grade error if mentor grade < 28

In [ ]:
Result_Dictionary={}
Result_DF = pd.DataFrame()

In [ ]:
Cicle_basic_sorted_dfdict = Cicle_basic_sorted_df.to_dict('records')

for  circle_row in Cicle_basic_sorted_dfdict:
    mentorId = circle_row['Mentor_ID']
    menteeId = circle_row['Mentee_ID']
    if (np.isnan(mentorId) or mentorId ==' ' or np.isnan(menteeId) or menteeId ==' '):
        continue
    else:            
        mentor_row = Mentor_df[Mentor_df['Mentor_ID'] ==circle_row['Mentor_ID'] ]
        mentee_row = Mentee_df[Mentee_df['Mentee_ID'] ==circle_row['Mentee_ID'] ]

        result = validate_mentormentee(mentor_row, mentee_row, circle_row)
        result['Mentor_Email'] = mentor_row['Mentor_Email'].iloc[0]
        result['Mentee_Email'] = mentee_row['Mentee_Email'].iloc[0]
        result['Mentor_Name'] = mentor_row['Mentor_FirstName'].iloc[0]+" "+mentor_row['Mentor_LastName'].iloc[0]
        result['Mentee_Name'] = mentee_row['Mentee_First_Name'].iloc[0]+" "+mentee_row['Mentee_Last_Name'].iloc[0]
        Result_DF = Result_DF.append(result, ignore_index=True)

In [ ]:
Result_DF.head(2)

Create a summary dataframe  
• Count of members in cicle
• Min Max on interests, CLL sort
• Count of departments in cicle

In [ ]:
#Circle_basic_df.head()
n_cir = Result_DF['Mentee_Email'].nunique()
  
print("No.of.unique values ",n_cir)

In [ ]:

# Groupby multiple columns & multiple aggregations
grouped = Result_DF.groupby('Circle').aggregate({'Mentor_ID':['count','nunique'],'Mentee_ID':['count','nunique'],'Mentee_TimeZoneNum':['min','max'], 'Mentor_Eligible_Error':'sum', 'MentorMentee_Grade_Error':'sum','MentorMentee_DeptError':'sum','Mentee_Department':'nunique','Goal_Similarity':['min','max'],'Mentee_Grade':['min','max'],'Mentee_TimeZoneNum':['min','max'],'Mentor_Mentee_TimeZoneDist':['min','max'],'MentorMentee_CLL_Growth':['min','max'],'MentorMentee_Circle_Error':['sum'],'MentorMentee_Common_Interests':['min','max']})
regroup_DF = grouped.reset_index()
regroup_DF.head(2)

Calculate Circle level Penalty and Bonus

• Organization/Department - To encourage networking the circles mentees from the same organization should be split between different circles. Mentor and Mentee should not be in same Department.
• Time Zones – Fit circles into similar time zones or within 2-hour differences. *International participants placed in eastern time zone groups.
• Grade Levels/Mentor Circle Levels – Should not have more than three grade levels between participants. Appropriate grade level grouping of mentor and mentees. Circles should not have both Early Career and Mid Career members.
Anyone Grade level less than 28 should not be considered a mentor.
• CLL Sort – Mentors strengths match the Mentees growth areas.
• Areas of interest – Maximum match on areas of interest within a circle.
• Circle size –The number of mentees a mentor has. The circles should be close in size.

In [ ]:
#Set Base Score as 100
Base_Score = 100

 Create Circle summary score and explanation`

In [ ]:

Mentee_Department_In_Circle_Error_Group = Result_DF.groupby(['Circle', 'Mentee_Department']).filter(lambda x: len(x) >= 2).Circle.unique()
Circle_Penalty,Circle_Bonus, Circle_Summary_DF = calculateCircleLevelScore(regroup_DF, Mentee_Department_In_Circle_Error_Group)

In [ ]:
Circle_Summary_DF.head(2)

In [ ]:
Circle_Summary_DF.columns

In [ ]:
print("Circle score is ",Circle_Bonus, Circle_Penalty)

Create high level statistics for easier evaluation of bonus and penalty points

Penalty points:
    Circle size > 10
    Mentor and mentee are in same department
    Number of mentees not matched to any mentor
Bonus Points
    Timezone 
    Grade Level distance <= 3
    Drop mentors with grade level < 28
      
      
• Max - Min circle size
• Circle Size > 10
• Number of mentees not in any circle
• Number of mentors not in any circle
• Duplicate entry for mentee

In [ ]:
#Get High Level Score 
(Summary_Score, Summary_Results) = createSummary(Result_DF, regroup_DF)

In [ ]:
#Find unassigned mentors, mentees
unassignedMentees = set(Mentee_df.Mentee_Email).difference(set(Result_DF.Mentee_Email))
unassignedMentors = set(Mentor_df.Mentor_Email).difference(set(Result_DF.Mentor_Email))
Summary_Results['Unassigned Mentees']=";".join(unassignedMentees)
Summary_Results['Number of Unassigned Mentees']=len(unassignedMentees)
Summary_Results['Unassigned Mentors']=";".join(unassignedMentors)
Summary_Results['Number of Unassigned Mentors']=len(unassignedMentors)
Summary_Score = (Summary_Score-2) if len(unassignedMentees) >=5 else Summary_Score

In [ ]:
#Add scores to Summary Results
Final_Score = Base_Score + Circle_Bonus + Circle_Penalty + Summary_Score
Summary_Results['Base Score'] = Base_Score
Summary_Results['Circle Level Bonus'] = Circle_Bonus
Summary_Results['Circle Level Penalty'] = Circle_Penalty
Summary_Results['Summary Level Score'] = Summary_Score

Summary_Results['Final Score'] = Final_Score

In [ ]:
Summary_Results_DF = pd.DataFrame.from_dict(data=Summary_Results, orient='index', columns=['Result'])

https://towardsdatascience.com/5-pandas-group-by-tricks-you-should-know-in-python-f53246c92c94

In [ ]:
#Summary_Results_DF.columns

In [ ]:
Summary_Results_DF.index = Summary_Results_DF.index.set_names('Category')
 
Summary_Results_DF.reset_index().head()

In [ ]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('Results_zps.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
Summary_Results_DF.to_excel(writer, sheet_name='highlevelsummary', header='False')
Circle_Summary_DF.to_excel(writer, sheet_name='circlesummary')
Result_DF.to_excel(writer, sheet_name='detail')

writer.close()

Group by Circle and Deprtment to check if not more than 2 mentees of same department are not in same circle