In [1]:
import pandas as pd
import numpy as np
from utils import *

In [2]:
#pip install sentence-transformers

Load the datasets - Mentor/Mentee/Circle

In [3]:
Mentee_df = pd.read_excel('../data/Mentee-obfuscated-dataset-1.xlsx', engine='openpyxl')

In [4]:
Mentee_df.columns

Index(['Mentee_ID', 'Mentee_First_Name', 'Mentee_Last_Name', 'Mentee_Email',
       'Mentee_Title', 'Mentee_GradeLevel', 'Mentee_Organization',
       'Mentee_Department', 'Mentee_BusinessUnit', 'Mentee_TimeZone',
       'Mentee_Circle', 'Mentee_Goal', 'Mentee_Interest', 'Mentee_CLL',
       'Mentor_Interestcount', 'Mentee_Eligibility', 'Mentee_wiads_past'],
      dtype='object')

In [5]:
Mentee_df['Mentee_Circle'].unique()

array(['Mid Career (grades 28-30)', 'Early Career (grades 27 and under)'],
      dtype=object)

In [6]:
Mentor_df = pd.read_excel('../data/Mentor-obfuscated-dataset-1.xlsx', engine='openpyxl')
Mentor_df['Mentor_Circle'].unique()

array(['Mid Career (mentees are grades 28-30)',
       'Early Career (mentees are\xa0grades 27 and under)'], dtype=object)

In [7]:
Mentor_df.columns

Index(['Mentor_ID', 'Mentor_FirstName', 'Mentor_LastName', 'Mentor_Email',
       'Mentor_JobTitle ', 'Mentor_GradeLevel', 'Mentor_Organization',
       'Mentor_Department', 'Mentor_BusinessUnit', 'Mentor_TimeZone',
       'Mentor_Circle', 'Mentor_Interest', 'Mentor_CLL', 'Mentor_Goal',
       'Mentor_Interestcount', 'Mentor_Eligibility', 'Mentor_wiads_past ',
       'Mentor_mentor_past'],
      dtype='object')

Select only 3 columns

In [8]:
def make_similarity_matrix(MentorList, Menteelist):
    
    
    # mapping from mentee to row
    row_index = {value[0]: count for count, value in enumerate(MenteeList)}       
    # mapping from mentor to column
    col_index = {value[0]: count for count, value in enumerate(MentorList)}    
 
    nrow = len(Menteelist)
    ncol = len(MentorList)
    similarity_matrix = np.zeros((nrow, ncol))
    for menteeId, mentee_goal in MenteeList:
        i = row_index[menteeId]
        for mentorId, mentor_goal in MentorList:
          j = col_index[mentorId]
          similarity_matrix[i, j] = get_similarity(mentor_goal, mentee_goal)
         
    similarity_matrix = pd.DataFrame(similarity_matrix, index=row_index.keys(), columns=col_index.keys())
    return similarity_matrix

Get Mid Career

In [9]:
MentorList =Mentor_df[Mentor_df['Mentor_Circle'] == 'Mid Career (mentees are grades 28-30)'][['Mentor_ID','Mentor_Goal']].values.tolist()
MenteeList =Mentee_df[Mentee_df['Mentee_Circle'] == 'Mid Career (grades 28-30)'][['Mentee_ID','Mentee_Goal']].values.tolist()

In [10]:
mid_similarity_matrix = make_similarity_matrix(MentorList, MenteeList)

In [12]:
mid_similarity_matrix.head()

        1       4       9       10      11      13      16      17
3   0.3814  0.4822  0.3240  0.0719  0.2540  0.3789  0.4473  0.2637
5   0.4244  0.4489  0.5750  0.2355  0.4444  0.5745  0.4889  0.5217
8   0.2395  0.1408  0.4166  0.0798  0.2787  0.2921  0.2775  0.2250
10  0.4522  0.4559  0.4815  0.2100  0.6074  0.6276  0.3741  0.4133
13  0.5085  0.4581  0.5399  0.2428  0.4507  0.6168  0.5635  0.4742

In [16]:
mid_similarity_matrix.to_csv('mid_career_goal.csv', header=True)

Get early career

In [14]:
MentorList =Mentor_df[Mentor_df['Mentor_Circle'] != 'Mid Career (mentees are grades 28-30)'][['Mentor_ID','Mentor_Goal']].values.tolist()
MenteeList =Mentee_df[Mentee_df['Mentee_Circle'] != 'Mid Career (grades 28-30)'][['Mentee_ID','Mentee_Goal']].values.tolist()

In [15]:
early_similarity_matrix = make_similarity_matrix(MentorList, MenteeList)

In [17]:
early_similarity_matrix.to_csv('early_career_goal.csv', header=True)